
.main{
    padding-top: 50px;
}

.container{
    /* margin-top: 100px; */
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    border: 2px solid black;
    border-radius: 8px;
}

.container h1,p {
    text-align: center;
}

.container h1{
    padding: 0;
    margin: 30px;
}
.container p{
    padding: 0;
    margin: 0;
}


.form{
    display: flex;
    flex-direction: column;
    /* gap: 10%; */
}

.form label{
    /* margin-top: 10%; */
    margin: 8% auto 0 auto;
    width: 70%;

}

.form input{
    width: 70%;
    margin: 0 auto;
    height: 28px;
}

.form button{
    width: 72%;
    height: 32px;
    margin: 8% auto;
}

.form p{
    margin: 0;
    padding: 0;
}